<div class="text-center">

    <h2 class="text-primary text-center">Counter Example!</h2>

    <hr>

    <h2>App Counter : {{counter$ | async}}</h2>

    <div>
        <button class="btn btn-success m-2" (click)="onIncrement()">Increment</button>
        <button class="btn btn-warning m-2" (click)="onDecrement()">Decrement</button>
        <button class="btn btn-secondary m-2" (click)="onReset()">Reset</button>
    </div>

    <hr>

    <div>
        <app-custom-counter></app-custom-counter>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
            <app-user></app-user>
        </div>
        <div class="col-6">
            <app-admin></app-admin>
        </div>
    </div>

</div>